.attributions {
    display: none;
    left: 40px;
    padding: 15px;
    position: absolute;
    top: 45px;
    z-index: 2;
}

.attr-container {
    background-color: rgba(200, 200, 200, 0.90);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 0%;
    overflow: hidden;
    padding: 20px;
    transition: 0.5s;
}

.attr-container a {
    color: black;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2px;
    text-decoration: none;
    width: 100%;
}

.attr-btn {
    left: 10px;
    position: absolute;
    top: 25px;
    z-index: 3;
}

.attr-btn label {
    background-color: gray;
    border-radius: 50%;
    height: 64px;
    position: absolute;
    width: 64px;
}

.attr-btn img {
    height: 85%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.attr-btn input[type='checkbox'] {
    appearance: none;
}

.attr-btn input[type='checkbox']:checked+label {
    background-color: white;
}